.spaceTourism {
    width: 100%;
    height: 100vh;
    z-index: -8;
    overflow: hidden;
}

.homeBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;
    object-fit: fill;

}

@media (max-width:500px) {
    .spaceTourism {
        width: 100%;
        height: 100vh;
        z-index: -8;
        overflow: scroll !important;
    }
}